EVENT_URL=https://billetterie.accorarena.com/fr/manifestation/don-toliver-billet/idmanif/663654/idseance/4361281/codtypadh/FTT/numadh/01/codeconf/FTMS01
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/YOUR_WEBHOOK_ID/YOUR_WEBHOOK_TOKEN
BROWSER_PROFILE_DIR=data/browser-profile
STATE_FILE=data/state.json
SCREENSHOT_DIR=data/screenshots
HEADLESS=true
MAX_JITTER_SECONDS=3600
